// LinkCard.module.scss

.cardContainer {
  display: flex;
  align-items: center;
  border: 1px solid var(--ifm-color-primary-lightest);
  border-radius: 1rem;
  padding: 10px;
  margin-bottom: 1rem;
  min-width: 80%;
  &:hover {
    text-decoration: none;
    .linkText {
      text-decoration: underline;
    }
  }
}

.iconContainer {
  margin-right: 10px;
  flex-shrink: 0;
  height: 6rem;
  width: 6rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.linkText {
  font-weight: bold;
  font-size: 20px;
}

.linkText:hover {
  text-decoration: underline;
}

.description {
  margin-top: 4px;
  color: #666;
  font-size: 15px;
  text-decoration: none;
}
